<div class="content-item h-entry">
{% if not hero_image_name %}
    <div class="content-title text-center" style="font-size:12px">
        {% include 'partials/wiki/title.html.twig' with {title_level: 'h2'} %}
        {% if page.header.subtitle %}
        <h1 >{{ page.header.subtitle }}</h1>
        {% endif %}
	{% if not wiki %}
{#	    {% include 'partials/blog/date.html.twig' %} #}
{#	    {% include 'partials/blog/taxonomy.html.twig' %} #}
	{% endif %}
    </div>
{% endif %}

{% if page.content|containstoc %}
    {% if config.get('plugins.page-toc.active') or attribute(page.header, 'page-toc').active %}
    {#    <div class="page-toc" style="font-size:12px"> #}
    <div class="page-toc">
        {% set table_of_contents = toc(page.content) %}
        {% if table_of_contents is not empty %}
        <h1>Table of Contents</h1>
        {{ table_of_contents|raw }}
        {% endif %}
    </div>
    {% endif %}
{% endif %}
    
{#    <div class="e-content" style="font-size:12px"> #}
    <div class="e-content">
      {{ page.content|removetoc|processmarkdownlinks|processhtmllinks|raw }}
{#      {{ page.content|removetoc|processmarkdownlinks|processhtmllinks|markdown(true)|raw }} <! filters seem not doing anything, neither on the full string > #}
{#      {{ page.content|removetoc|processmarkdownlinks|processhtmllinks|markdown(false)|raw }} #}
{#      {{ page.content|removetoc|processhtmllinks|processmarkdownlinks|raw }} #}
{#      {{ page.content|removetoc|processhtmllinks|processmarkdownlinks|markdown(true)|raw }} <! filters seem not doing anything, neither on the full string > #}
{#      {{ page.content|removetoc|processhtmllinks|processmarkdownlinks|markdown(false)|raw }} #}
    </div>

    {% if page.header.continue_link is same as(true) and config.plugins.comments.enabled %}
        {% include 'partials/comments.html.twig' %}
    {% endif %}
</div>

{#
<p class="prev-next text-center">
    {% if not page.isLast %}
            <a class="btn" href="{{ page.prevSibling.url }}"><i class="fa fa-angle-left"></i> {{ 'THEME_QUARK.BLOG.ITEM.PREV_POST'|t }}</a>
    {% endif %}

    {% if not page.isFirst %}
        <a class="btn" href="{{ page.nextSibling.url }}">{{ 'THEME_QUARK.BLOG.ITEM.NEXT_POST'|t }} <i class="fa fa-angle-right"></i></a>
    {% endif %}
</p>
#}
